

  .col-lg-3{
  
    background-color: #0000;
    /* background-image: url("images/jeremy-christ-jordan-q6zturcca8Q-unsplash.jpg"); */
    
  }

  
  .my-4{
    color: #E49E48;
    
}

.list-group-item{
  color: #E49E48;
    background-color:  rgba(2, 2, 2, 0.5);
}

.ul-flex {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}