#container-validation{
    align-content: center;
}

#card-validation{
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgb(255, 255, 255);
    box-shadow: 4rem;
}

#card-header-validation {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
} 
/* 
footer{
    bottom: 0;
    position: fixed;
    width: 100vw;
} */
#wrapper-validation{
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  
#wrapper-validation .row.header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
  }
  
#wrapper-validation .row.content {
flex: 1 1 auto;
}

#wrapper-validation .row.footer-validation {
flex: 0 1 40px;
width: auto;
}